@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    place-items: center;
    background-color: #D58936; 
}

.title {
    margin: 20px 0;
    color: #3C1518;
}

.main {
    border: 8px solid #3C1518; 
    border-radius: 24px;
    overflow: hidden;
}

#chatbox{
    display: none;
}

.name {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    padding: 8px 16px;
    color: #FFFFFF;
    background-color: #A44200;
}

.name-input {
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    flex-grow: 1;
    margin: 0px 12px;
    outline: none;
    background-color: #D58936; 
}

.message-container {
    flex-direction: column;
    background-color: #3C1518; 
    width: calc(100vw / 1.5);
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
}

.message-container-show {
    flex-direction: column;
    display: flex;
    background-color: #3C1518; 
    width: calc(100vw / 1.5);
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.message-left,
.message-right {
    list-style: none;
    padding: 8px 12px;
    margin: 12px;
    max-width: calc(100% - 24px);
    font-size: 18px;
    word-wrap: break-word;
    width: fit-content;
}

.message-left {
    border-radius: 20px 20px 20px 0px;
    align-self: flex-start;
    background-color: #A44200; 
    box-shadow: -2px 2px 4px black; 
}

.message-right {
    border-radius: 20px 20px 0px 20px;
    align-self: flex-end;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 4px black; 
    color: #A44200;
}

.message-left > p > span,
.message-right > p > span {
    display: block;
    font-style: italic;
    font-size: 12px;
    margin-top: 4px;
}

.feedback {
    font-style: italic;
    font-size: 14px;
    padding: 0px 16px 16px 16px;
    color: #FFFFFF;
    text-align: center;
}

.message-form {
    display: flex;
    justify-content: space-between;
    width: calc(100vw / 1.5);
}

.name-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 700px;
}

.name-form > * {
    margin-bottom: 10px;
}

.room-select {
    height: 48px;
    font-size: 16px;
    border: none;
    padding: 12px 20px;
    outline: none;
    background-color: #D58936;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
}

.room-select:hover {
    background-color: #C4782E;
}

.room-select.active {
    background-color: #C4782E;
}

.message-input {
    flex-grow: 1;
    height: 48px;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 0 12px;
    background-color: #FFFFFF; 
}

.rooms {
    display: flex;
}


.room-button {
    flex: 1;
    height: 48px;
    font-size: 16px;
    border: none;
    padding: 12px 20px;
    outline: none;
    background-color: #A44200;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.room-button:hover {
    background-color: #242331;
}

.room-button.active {
    background-color: #242331;
}

.send-button {
    height: 48px;
    font-size: 16px;
    border: none;
    padding: 0px 20px;
    outline: none;
    background-color: #D58936;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.send-button:hover {
    background-color: #C4782E; 
}

.v-divider {
    height: 48px;
    width: 2px;
    background-color: #A44200; 
}

#client-total {
    margin: 20px 0;
    color: #FFFFFF;
    display: none;
}

.users-list{
    width: 400px;
    height: 200px;
    overflow-y: scroll;
}

#users-container {
    display: none;
}
